In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [36]:
file_path = "C:\\Users\\Dhanush\\Documents\\CODSOFT\\task 2\\IMDb_Movies_India.csv"
df = pd.read_csv(file_path, encoding="ISO-8859-1")

df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

(None,
                                  Name    Year Duration            Genre  \
 0                                         NaN      NaN            Drama
 1  #Gadhvi (He thought he was Gandhi)  (2019)  109 min            Drama
 2                         #Homecoming  (2021)   90 min   Drama, Musical
 3                             #Yaaram  (2019)  110 min  Comedy, Romance
 4                   ...And Once Again  (2010)  105 min            Drama

    Rating Votes            Director       Actor 1             Actor 2  \
 0     NaN   NaN       J.S. Randhawa      Manmauji              Birbal
 1     7.0     8       Gaurav Bakshi  Rasika Dugal      Vivek Ghamande
 2     NaN   NaN  Soumyajit Majumdar  Sayani Gupta   Plabita Borthakur
 3     4.4    35          Ovais Khan       Prateik          Ishita Raj
 4     NaN   NaN        Amol Palekar  Rajat Kapoor  Rituparna Sengupta

            Actor 3
 0  Rajendra Bhatia
 1    Arvind Jangid
 2       Roy Angana
 3  Siddhant Kapoor
 4      Antara Mali  )

In [37]:
# Converting votes column and removing commas & handle non-numeric values
df['Votes'] = pd.to_numeric(df['Votes'].str.replace(',', '', regex=True), errors='coerce')

# Drop or fill missing values
df['Votes'] = df['Votes'].fillna(0)  # Replace NaN with 0 (or use df.dropna(subset=['Votes']) to remove)

print(df[['Votes']].head())  # Verify if conversion is successful

   Votes
0    0.0
1    8.0
2    0.0
3   35.0
4    0.0

In [38]:
#making sure 'Year' and 'Duration' columns are strings before extracting numbers
df['Year'] = df['Year'].astype(str).str.extract('(\d+)').astype(float)
df['Duration'] = df['Duration'].astype(str).str.extract('(\d+)').astype(float)

df['Votes'] = pd.to_numeric(df['Votes'].astype(str).str.replace(',', '', regex=True), errors='coerce')

#Drop rows where Rating is missing
df = df.dropna(subset=['Rating'])

#verifiying the changes
print(df[['Year', 'Duration', 'Votes']].head())

     Year  Duration   Votes
1  2019.0     109.0     8.0
3  2019.0     110.0    35.0
5  1997.0     147.0   827.0
6  2005.0     142.0  1086.0
8  2012.0      82.0   326.0

In [22]:
df['Year'] = df['Year'].astype(str).str.extract('(\d+)')
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')

df['Duration'] = df['Duration'].astype(str).str.extract('(\d+)')
df['Duration'] = pd.to_numeric(df['Duration'], errors='coerce')

df['Votes'] = pd.to_numeric(df['Votes'].astype(str).str.replace(',', '', regex=True), errors='coerce')

df = df.dropna(subset=['Rating'])

print(df[['Year', 'Duration', 'Votes']].head())

   Year  Duration   Votes
1  2019     109.0     8.0
3  2019     110.0    35.0
5  1997     147.0   827.0
6  2005     142.0  1086.0
8  2012      82.0   326.0

In [40]:
print(df.dtypes
df['Year'] = df['Year'].astype(str).str.extract('(\d+)')
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')

df['Duration'] = df['Duration'].astype(str).str.extract('(\d+)')
df['Duration'] = pd.to_numeric(df['Duration'], errors='coerce')

df['Votes'] = pd.to_numeric(df['Votes'].astype(str).str.replace(',', '', regex=True), errors='coerce')

df = df.dropna(subset=['Rating'])
print(df[['Year', 'Duration', 'Votes']].head())

Name         object
Year        float64
Duration    float64
Genre        object
Rating      float64
Votes       float64
Director     object
Actor 1      object
Actor 2      object
Actor 3      object
dtype: object
   Year  Duration   Votes
1  2019     109.0     8.0
3  2019     110.0    35.0
5  1997     147.0   827.0
6  2005     142.0  1086.0
8  2012      82.0   326.0

In [42]:
print(df.dtypes)
df['Year'] = pd.to_numeric(df['Year'].astype(str).str.extract('(\d+)')[0], errors='coerce')
df['Duration'] = pd.to_numeric(df['Duration'].astype(str).str.extract('(\d+)')[0], errors='coerce')
df['Votes'] = pd.to_numeric(df['Votes'].astype(str).str.replace(',', '', regex=True), errors='coerce')
df.dropna(subset=['Rating'], inplace=True)  
print(df.dtypes)
print(df.head())

Name         object
Year          int64
Duration    float64
Genre        object
Rating      float64
Votes       float64
Director     object
Actor 1      object
Actor 2      object
Actor 3      object
dtype: object
Name         object
Year          int64
Duration    float64
Genre        object
Rating      float64
Votes       float64
Director     object
Actor 1      object
Actor 2      object
Actor 3      object
dtype: object
                                 Name  Year  Duration  \
1  #Gadhvi (He thought he was Gandhi)  2019     109.0
3                             #Yaaram  2019     110.0
5                ...Aur Pyaar Ho Gaya  1997     147.0
6                           ...Yahaan  2005     142.0
8                  ?: A Question Mark  2012      82.0

                       Genre  Rating   Votes        Director          Actor 1  \
1                      Drama     7.0     8.0   Gaurav Bakshi     Rasika Dugal
3            Comedy, Romance     4.4    35.0      Ovais Khan          Prateik
5     Comedy, Drama, Musical     4.7   827.0    Rahul Rawail       Bobby Deol
6        Drama, Romance, War     7.4  1086.0  Shoojit Sircar  Jimmy Sheirgill
8  Horror, Mystery, Thriller     5.6   326.0   Allyson Patel        Yash Dave

                  Actor 2          Actor 3
1          Vivek Ghamande    Arvind Jangid
3              Ishita Raj  Siddhant Kapoor
5  Aishwarya Rai Bachchan    Shammi Kapoor
6          Minissha Lamba   Yashpal Sharma
8          Muntazir Ahmad     Kiran Bhatia

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7919 entries, 1 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      7919 non-null   object
 1   Year      7919 non-null   int64
 2   Duration  5851 non-null   float64
 3   Genre     7817 non-null   object
 4   Rating    7919 non-null   float64
 5   Votes     7919 non-null   float64
 6   Director  7914 non-null   object
 7   Actor 1   7794 non-null   object
 8   Actor 2   7719 non-null   object
 9   Actor 3   7627 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 680.5+ KB

In [44]:
# Ensure 'Year' is numeric 
df['Year'] = pd.to_numeric(df['Year'].astype(str).str.extract('(\d+)')[0], errors='coerce')

# Ensure 'Duration' is numeric
df['Duration'] = pd.to_numeric(df['Duration'].astype(str).str.extract('(\d+)')[0], errors='coerce')

# Convert 'Votes' to numeric andremoving commas and handle errors
df['Votes'] = pd.to_numeric(df['Votes'].astype(str).str.replace(',', '', regex=True), errors='coerce')

# Droping rows where 'Rating' is missing
df.dropna(subset=['Rating'], inplace=True)

# Handle missing values in 'Duration'
df['Duration'].fillna(df['Duration'].median(), inplace=True)  # Fill with median

# Droping any remaining missing values in essential columns
df.dropna(subset=['Year', 'Duration', 'Votes'], inplace=True)


df.reset_index(drop=True, inplace=True)

#leaned dataset
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7919 entries, 0 to 7918
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      7919 non-null   object
 1   Year      7919 non-null   int64
 2   Duration  7919 non-null   float64
 3   Genre     7817 non-null   object
 4   Rating    7919 non-null   float64
 5   Votes     7919 non-null   float64
 6   Director  7914 non-null   object
 7   Actor 1   7794 non-null   object
 8   Actor 2   7719 non-null   object
 9   Actor 3   7627 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 618.8+ KB
None
                                 Name  Year  Duration  \
0  #Gadhvi (He thought he was Gandhi)  2019     109.0
1                             #Yaaram  2019     110.0
2                ...Aur Pyaar Ho Gaya  1997     147.0
3                           ...Yahaan  2005     142.0
4                  ?: A Question Mark  2012      82.0

                       Genre  Rating   Votes        Director          Actor 1  \
0                      Drama     7.0     8.0   Gaurav Bakshi     Rasika Dugal
1            Comedy, Romance     4.4    35.0      Ovais Khan          Prateik
2     Comedy, Drama, Musical     4.7   827.0    Rahul Rawail       Bobby Deol
3        Drama, Romance, War     7.4  1086.0  Shoojit Sircar  Jimmy Sheirgill
4  Horror, Mystery, Thriller     5.6   326.0   Allyson Patel        Yash Dave

                  Actor 2          Actor 3
0          Vivek Ghamande    Arvind Jangid
1              Ishita Raj  Siddhant Kapoor
2  Aishwarya Rai Bachchan    Shammi Kapoor
3          Minissha Lamba   Yashpal Sharma
4          Muntazir Ahmad     Kiran Bhatia

In [45]:
print(df.columns)
df.columns = df.columns.str.strip()

Index(['Name', 'Year', 'Duration', 'Genre', 'Rating', 'Votes', 'Director',
       'Actor 1', 'Actor 2', 'Actor 3'],
      dtype='object')

In [46]:
'''if 'Genre' in df.columns:
    print("Genre column exists")
else:
    print("Genre column is missing")
'''

Genre column exists

In [47]:
from sklearn.preprocessing import LabelEncoder

#categorical columns
categorical_cols = ['Genre', 'Director', 'Actor 1', 'Actor 2', 'Actor 3']

#Converting NaN values to string and applying Label Encoding
for col in categorical_cols:
    df[col] = df[col].astype(str)  # Convert NaN to "Unknown" before encoding
    df[col] = LabelEncoder().fit_transform(df[col])

In [49]:
#Defining input features (X) and target variable (y)
X = df.drop(columns=['Rating', 'Name'])  # Drop "Name" since it's not useful
y = df['Rating']

#Spliting the dataset (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#Verify shape
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(6335, 8) (1584, 8) (6335,) (1584,)

In [50]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

#starting the Random Forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

#Training the model
rf_model.fit(X_train, y_train)

#Making predictions
y_pred = rf_model.predict(X_test)

#Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error: {mae:.4f}")
print(f"Mean Squared Error: {mse:.4f}")
print(f"R² Score: {r2:.4f}")

Mean Absolute Error: 0.8283
Mean Squared Error: 1.2042
R² Score: 0.3523

In [ ]:
from sklearn.model_selection import GridSearchCV

#Defining hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [10, 20, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

#Performing Grid Search
grid_search = GridSearchCV(RandomForestRegressor(random_state=42),
                           param_grid, cv=3, n_jobs=-1, verbose=2)

grid_search.fit(X_train, y_train)


best_params = grid_search.best_params_
print("Best Parameters:", best_params)

#Training the best model
best_rf = RandomForestRegressor(**best_params, random_state=42)
best_rf.fit(X_train, y_train)

#Predict and evaluate
y_pred_best = best_rf.predict(X_test)

mae_best = mean_absolute_error(y_test, y_pred_best)
mse_best = mean_squared_error(y_test, y_pred_best)
r2_best = r2_score(y_test, y_pred_best)

print(f"Tuned Model - Mean Absolute Error: {mae_best:.4f}")
print(f"Tuned Model - Mean Squared Error: {mse_best:.4f}")
print(f"Tuned Model - R² Score: {r2_best:.4f}")

Fitting 3 folds for each of 81 candidates, totalling 243 fits